<div class="container" id ="mainDash"hidden>
  <div class="row" style="margin-top:15px">
      <div class="col-12 col-md-3">
          <br>
          <div class = "row" >  
              <div class = "col-6 col-md-12">
                  <div class="ratio img-responsive img-circle" style="background-image: url('/static/img/landing.jpeg')">
                  </div>            
              </div>
              <div class = "col-6 col-md-12">
                  <h1 class="dashboard-name" id ="fullName">Michael Wang</h1>
                  <hr>
                  <div class="text" style="line-height:.5;">
                      <p id = "handle">wangminze</p>
                      <p id = "grade" style="font-size:0.6em">9th Grade</p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="col-12 col-md-9 dashboard-sections">
          
          <div style="padding:10px; background-color:rgba(0,0,0,0.5); box-shadow:1px 1px 10px 2px rgba(0, 0, 0, 0.4),-1px 1px 10px 2px rgba(0, 0, 0, 0.4)">
              Upcoming Sessions
              <div class = "bar"></div>
              <div class = "sessions" id = "upcoming"></div>
          </div>
          <br>
          <div style="padding:10px; background-color:rgba(0,0,0,0.5); box-shadow:1px 1px 10px 2px rgba(0, 0, 0, 0.4),-1px 1px 10px 2px rgba(0, 0, 0, 0.4)">
              Past Sessions
              <div class = "bar"></div>
              <div class = "sessions" id = "past"></div>
          </div>
          <br>
          <div style="padding:10px; background-color:rgba(0,0,0,0.5); box-shadow:1px 1px 10px 2px rgba(0, 0, 0, 0.4),-1px 1px 10px 2px rgba(0, 0, 0, 0.4)">
              Course TA
              <div class = "bar"></div>
              <div class = "sessions" id = "courses"></div>
          </div>
      </div>
  </div>
</div>