<div class = "container">
  <h1 id = "searchTitle">Class Search</h1>
  <div class = 'divider'></div>
  <form>
    
    <div class= "row">
      <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="subject">Subject: </label>
            <input type="text" class="form-control form-control-lg" id="subject" placeholder="Subject">
        </div> 
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
            <label for="classNumber">Number: </label>
            <input type="text" class="form-control form-control-lg" id="classNumber" placeholder="Class Number">
        </div> 
      </div>
    </div>
        
    <div class = "row" id = "buttonRow">
      <div class = "col-12 col-md-8" id = "buttonWrapper">
         <button type="submit" id = "searchButton"class="btn btn-primary" style="width:100%">Search</button>
      </div>
  </form>
  <div id = "results"></div>
</div>