*{
  font-family: 'Montserrat' !important;
}

.background{
  background-color: rgba(73, 6, 22, 0.85);
}

.title{
  color: white;
  text-align: center;
  padding: 60px;
  width: 100%;
}

.text{
  color: white;
  text-align: center;
  font-size: 20px;
}

.dashboard-name{
  color: white;
  text-align: center;
  font-size: 1.8em;
  margin-top: 5px;
}

.dashboard-sections{
  color: white;
  text-align: center;
  font-size: 1.8em;
  padding: 20px;
}

.table-entries{
  font-size: 15px;
}

.dashboard-boxes{
  background-color:rgba(0,0,0,0.5); 
  box-shadow:1px 1px 10px 2px rgba(0, 0, 0, 0.4),-1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

table, th, td, tr {
  text-align: center;
}