.hero{
  width: 100vw;
  height: auto;
  filter: grayscale(100%) brightness(150%);
  position: absolute;
  top: 50vh;
  left: auto;
  transform: translateY(-50%);
  
}
.heroCover{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(128, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
}
.heroCover2{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
}
.imgContainer{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.centering{
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
}
#title{
  color: white;
  z-index: 3000;
  text-align: center;
  font-size: 4.2em;
  font-weight: 300;
  letter-spacing: 0.2ch;
}
#titleColumn{
  margin-bottom: 80px;
}
.btn{
 height: auto;
 width: 300px;
}
#left{

  margin-left: calc(100% - 300px);
}
@media only screen and (max-width: 1660px){
  .hero{
    height: 100vh;
    width: auto;
    top: auto;
    left: 50vw;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 991px){
  #left{
    margin: 0 auto;
  }
  .btn{
    width: 100%;
  }
  #leftCol{
    margin-bottom: 30px;
  }
}